@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;800&family=Open+Sans&display=swap');

$gray: rgba(128, 128, 128, 0.4);
$border-on-hover: rgba(0, 0, 0, 0.1);
$accent-color: #b8003a;
$on-accent-color: white;
$bg: white;

$accent-font: 'Lexend';
$font: 'Open Sans';

* {
    border-radius: 0;
}

body {
    background-color: white;
    font-size: 15px;
    font-family: $font;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    $border-on-hover: rgba(255, 255, 255, 0.1);
    body {
        background-color: black;
        color: white;
    }
}

// ====| MAIN SECTIONS |====

header {
    background-color: $accent-color;
    padding: 5%;
    text-align: center;
    font-family: 'Lexend';
    color: $on-accent-color;
}

header div {
    font-size: 150%;
}

main {
    margin: 1%;
}

// ====| HEADERS |====

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend';
}

h1 {
    font-size: 600%;
    font-weight: 800;
}

h2 {
    font-weight: 300;
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h3 {
    color: $accent-color;
    text-transform: uppercase;
    font-size: 180%;
}

h4 {
    color: $accent-color;
    font-size: 150%;
}

// ====| COMPONENTS |====

.accent {
    background-color: $accent-color;
    color: $on-accent-color;
}

button {
    font: inherit;
    color: inherit;
    
    border: none;
    background-color: $gray;
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    box-shadow:inset 0px 0px 0px 0px rgba(0,0,0,0);
    min-width: 128px;
    
    transition: box-shadow 0.2s;
}

button:hover {
    box-shadow:inset 0px 0px 0px 5px $border-on-hover;
}
